/*
!/.gitignore
!/build.sh
!/LICENSE
!/README.md
!/README.zh-CN.md
!/manifest.json
!/package.json
!/pics/
!/src/
!/ut/

/pics/*
!/pics/*.png

/src/*
!/src/*.js

/ut/*
!/ut/*.js
!/ut/*.md
!/ut/helpers/
/ut/helpers/*
!/ut/helpers/*.js
